<div class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="advantages__info">
          <h2 class="advantages__title">Do you know we can provide for you ?</h2>
          <div class="advantages__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
               totam molestiae, modi consequatur possimus sunt voluptatum aliquid non,
               soluta ipsam nam optio illo quisquam! Quod, asperiores. Sequi maiores
               repellendus, labore.
            </p>
          </div>
          <div class="btn btn-default btn-lg advantages__btn">Learn more</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="advantages__list">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="advantages__box">
                <i class="advantages__fa fa fa-cog" aria-hidden="true"></i>
                <div class="advantages__name">Management</div>
                <div class="advantages__text-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quaerat ut tempore voluptatem atque ea sit quos, iusto dolo
                    remque architecto? Non!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="advantages__box">
                <i class="advantages__fa fa fa-pencil" aria-hidden="true"></i>
                <div class="advantages__name">UI/UX Design</div>
                <div class="advantages__text-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Similique aliquam commodi velit dicta dolorem laboriosam qu
                    od qui, numquam rem cupiditate!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="advantages__box">
                <i class="advantages__fa fa fa-diamond" aria-hidden="true"></i>
                <div class="advantages__name">Logo / Branding</div>
                <div class="advantages__text-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Reiciendis fuga, ducimus saepe ratione asperiores ullam ut
                    consequatur expedita repellendus facilis.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="advantages__box">
                <i class="advantages__fa fa fa-truck" aria-hidden="true"></i>
                <div class="advantages__name">Animation</div>
                <div class="advantages__text-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dignissimos mollitia vel rerum qui dicta quasi nesciunt, re
                    iciendis ex necessitatibus harum.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
