<div class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-left">
        <h2 class="contact__title">
          Get in touch
        </h2>
        <div class="contact__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Quaerat tempore repellat dolor eius. Earum eos ea architecto.
           Magni explicabo impedit ducimus optio hic vero voluptas soluta
           quam, ea, odit, a molestias vitae in, quod earum tempore ipsa
           consectetur ad. Vel.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <form class="contact__form" action="#" method="post">
          <div class="row">
            <div class="col-lg-6">
              <input class="form-control contact__field" type="text" placeholder="Name" value="">
            </div>
            <div class="col-lg-6">
              <input class="form-control contact__field" type="email" placeholder="Your Mail" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <textarea class="form-control contact__message" name="name" rows="10"  placeholder="Type your message"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-danger btn-block btn-lg contact__btn">
            Send message
          </button>
        </form>
      </div>
      <div class="col-lg-5">
        <div class="contact__info">
          <h4 class="contact__info-title">
            Contact info
          </h4>
          <address class="contact__address">
            Jalalbab 24 / A Amaarkhana, Sylhet, Bangladesh
          </address>
          <a href="mailto:redwan@devisweb.com" class="contact__mail">redwan@devisweb.com</a>
          <a href="tel:+8801761746373" class="contact__phone">(+88) 017 617 46373</a>
        </div>
      </div>
    </div>
  </div>
</div>
