<div class="feature" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="feature__holder">
          <h2 class="feature__title">Feature products</h2>
          <div class="feature__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Beatae, nesciunt.adipisicing elit.
            Beatae, nesciunt.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="tabs feature__tabs">
          <ul class="nav nav-tabs feature__nav-tabs">
            <li class="active">
              <a href="#tab-1" class="feature__tabs-link" data-toggle="tab">
                All
                <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#tab-2" class="feature__tabs-link" data-toggle="tab">
                Print template
                <i class="fa fa-print" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#tab-3" class="feature__tabs-link" data-toggle="tab">
                Web template
                <i class="fa fa-internet-explorer" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#tab-4" class="feature__tabs-link" data-toggle="tab">
                User interface
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#tab-5" class="feature__tabs-link" data-toggle="tab">
                Mock-up
                <i class="fa fa-rocket" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="tab-content feature__content">
            <div class="tab-pane fade in active" id="tab-1">
              <div class="content">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-2">
              <div class="content">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--main"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-3">
              <div class="content">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--green"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-4">
              <div class="content">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--blue"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-5">
              <div class="content">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="feature__image feature__image--black"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
