<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer__copyright">
          &copy; Copyright
          <a href="#" class="footer__copyright-author">@Junaed</a>
          2016, All rights reserved.
        </div>
      </div>
      <div class="col-lg-6 text-right">
        <ul class="footer__social">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x footer__fa" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-stack-1x footer__fa-social" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x footer__fa" aria-hidden="true"></i>
                <i class="fa fa-linkedin fa-stack-1x footer__fa-social" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x footer__fa" aria-hidden="true"></i>
                <i class="fa fa-google fa-stack-1x footer__fa-social" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x footer__fa" aria-hidden="true"></i>
                <i class="fa fa-facebook fa-stack-1x footer__fa-social" aria-hidden="true"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
