<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="subscribe__title">Design tips, tricks and
          freebies. Delivered weekly.</h3>
        <div class="subscribe__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Nostrum distinctio unde quisquam et earum asperiores laborum
          minima illum aut magnam!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="#" method="post" class="subscribe__form">
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <input class="form-control subscribe__field" type="email" placeholder="Email Address..." value="">
              </div>
            </div>
            <div class="col-lg-4">
              <button type="button" class="btn btn-danger btn-lg subscribe__btn">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
