<div class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="team__title">Meet our team</h2>
        <div class="team__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Quis ipsa eos esse repudiandae. Alias sint amet culpa,
          magnam aliquid modi! magnam aliquid modi!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="team__photo-big">
          <img src="data/team/img5.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-9">
        <div class="team__name">Mark Waugh</div>
        <div class="team__info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Reiciendis velit, sit eveniet, dolore vitae libero illum
          veritatis excepturi! Dolorem, architecto.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Reiciendis velit, sit eveniet, dolore vitae libero illum
          veritatis excepturi! Dolorem, architecto. Part 1
        </div>
        <ul class="team__social">
          <li class="team__social-item"><a href="#" class="team__social-link">Facebook</a></li>
          <li class="team__social-item"><a href="#" class="team__social-link">Dribble</a></li>
          <li class="team__social-item"><a href="#" class="team__social-link">Behance</a></li>
          <li class="team__social-item"><a href="#" class="team__social-link">Twitter</a></li>
        </ul>
        <div class="row">
          <div class="col-lg-3 team__min-copy">
            <div class="team__photo-min">
              <img src="data/team/img1.jpg" alt="">
              <div class="team__photo-min__name">
                <span>Sokina Jue</span>
              </div>
              <div class="team__description">
                <div class="team__description__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Tempore officiis distinctio cumque quaerat
                  repellendus, alias cum. Sint quam ducimus adipisci
                  recusandae nisi doloremque assumenda, repellendus
                  laboriosam tempore repellat. Quasi cum quos repellat
                  dicta aut facere, culpa laudantium commodi dolore
                  natus.
                </div>
                <ul class="team__description__social">
                  <li class="team__social-item"><a href="#" class="team__social-link">Facebook</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Dribble</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Behance</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 team__min-copy">
            <div class="team__photo-min">
              <img src="data/team/img2.jpg" alt="">
              <div class="team__photo-min__name">
                <span>Guhim Manu</span>
              </div>
              <div class="team__description">
                <div class="team__description__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Tempore officiis distinctio cumque quaerat
                  repellendus, alias cum. w w w w w w  w www w w w w w w w
                  w w w ww ww ww w w www w ww w  w w
                </div>
                <ul class="team__description__social">
                  <li class="team__social-item"><a href="#" class="team__social-link">Behance</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 team__min-copy">
            <div class="team__photo-min">
              <img src="data/team/img3.jpg" alt="">
              <div class="team__photo-min__name">
                <span>Alkash Buhlo</span>
              </div>
              <div class="team__description">
                <div class="team__description__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Tempore officiis distinctio cumque quaerat
                  repellendus, alias cum. Sint quam ducimus adipisci
                  recusandae nisi doloremque assumenda, repellendus
                  laboriosam tempore repellat. Quasi cum quos repellat
                  dicta aut facere, culpa laudantium commodi dolore
                  natus. y y y y y y yy y y yy y  y y y y y y  y yy
                </div>
                <ul class="team__description__social">
                  <li class="team__social-item"><a href="#" class="team__social-link">Facebook</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Dribble</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Behance</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 team__min-copy">
            <div class="team__photo-min">
              <img src="data/team/img4.jpg" alt="">
              <div class="team__photo-min__name">
                <span>Dimas Gopo</span>
              </div>
              <div class="team__description">
                <div class="team__description__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Tempore officiis distinctio cumque quaerat
                  repellendus, alias cum. Sint quam ducimus adipisci
                  recusandae nisi doloremque assumenda, repellendus
                  laboriosam tempore repellat. Quasi cum quos repellat
                  dicta aut facere, culpa laudantium commodi dolore
                  natus. t t t t tt t t t tt t t t t t t tt
                </div>
                <ul class="team__description__social">
                  <li class="team__social-item"><a href="#" class="team__social-link">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 team__min-copy active">
            <div class="team__photo-min">
              <img src="data/team/img5.jpg" alt="">
              <div class="team__photo-min__name">
                <span>Mark Waugh</span>
              </div>
              <div class="team__description">
                <div class="team__description__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Reiciendis velit, sit eveniet, dolore vitae libero illum
                  veritatis excepturi! Dolorem, architecto.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Reiciendis velit, sit eveniet, dolore vitae libero illum
                  veritatis excepturi! Dolorem, architecto. Part 1
                </div>
                <ul class="team__description__social">
                  <li class="team__social-item"><a href="#" class="team__social-link">Facebook</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Dribble</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Behance</a></li>
                  <li class="team__social-item"><a href="#" class="team__social-link">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
